body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation-current {
  color: #766357;
}

.main-header,
.container,
.main-footer {
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}


.welcome-section {
  margin-left: 40px;
  margin-right: 40px;
  background-image: url("../img/bg-mount.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slogan-underrated {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.heading-reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.advantages-list {
  list-style: none;
}



.container-advantages {
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.container-advantages h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.container-advantages p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.list-item-1 {
  background-image: url("../img/feature-picture-1.jpg");
  background-position: right center;
  background-repeat: no-repeat;
}


.to-do-list,
.list-item-container {
  list-style: none;
}


.to-do-list .heading-to-do-list {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.to-do-list .item-to-do-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.list-item-2 {
  background-image: url("../img/feature-picture-2.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}

.list-item-container {
  color: #000000;
  background-color: #eeeeee;
}

.container-advantages-grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.container-advantages-grey p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #eeeeee;
}

.hotel-search {
  background-color: #ffffff;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.hotel-search-button {
  font: inherit;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  width: 568px;
  height: 86px;
}

.button-brown:hover {
  background-color: #604e43;
}


.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  opacity: 0.9;
}

.hash-tag-visitsedona {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-social {
  list-style: none;
}

.footer-social {
  text-align: center;
}



.social-button {
  color: #81b3d2;
}

.social-button:hover {
  color: #669ec0;
}

.social-button:active {
  color: #5496bd;
}

.footer-copyright {
  text-align: center;
  color: #000000;
}

.footer-copyright a{
  color: inherit;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}

.modal-search {
  width: 568px;
  height: 395px;
  font: inherit;
  background-color: #ffffff

}

.hotel-search-item input {
  width: 346px;
  height: 38px;
}

.hotel-search-guest input {
  width: 144px;
  height: 38px;
}

.hotel-search-item input,
.hotel-search-guest input {

  font: inherit;
  background-color: #f2f2f2;
  border: none;
}



.hotel-search-item input:hover,
.hotel-search-guest input:hover {

  background-color: #ebebeb;
}

.hotel-search-item input:focus,
.hotel-search-guest input:focus {
  background-color: transparent;
  border: solid 2px #e5e5e5;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: 0;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* ----------------- hotels.html---------------------------- */
/* ----------------- hotels.html---------------------------- */
/* ----------------- hotels.html---------------------------- */



.filters {
  background-image: url("../img/bg-filters.jpg");
  background-color: #263940;
  background-position: top center;
  background-repeat: no-repeat;
}

.filter fieldset {
  border: 0px;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}


.filter label,
.filter-range,
.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.filter-range {
  width: 158px;
  height: 32px;
  border: solid 2px #ffffff;
}

.filter-button {
  width: 133px;
  height: 32px;
  border: solid 2px #ffffff;
  background-color: transparent;
  background-repeat: no-repeat;
}

.filter-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.sort-select {
  color: #000000;
  opacity: 0.3;
}

.sort-select:hover {
  color: #81b3d2;
}

.sort-select:active {
  color: #000000;
}

ul {
  list-style: none;
}

.filter-result-amount,
.hotels-item .hotels-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.filter-result li {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}


.hotels-item-type,
.hotels-item-price{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.button-about {
  width: 110px;
  height: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
}


.button-book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
}

.hotels-item-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666666;
  text-align: center;
}
