body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
/* убирает подсветку у всех ссылок */
a {
  text-decoration: none;
}
/* запрещает картинкам вываливаться за границы родительских блоков */
img {
  max-width: 100%;
  height: auto;
}
/* типовой вижуаллихиден 2019 */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* подсветка для блоков */

/* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */


.page-container {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  width: 1200px;
}

.main-header,
.container,
.main-footer {
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation .site-navigation-current {
  color: #766357;
}


.welcome-section {
  background-image: url("../img/bg-mount.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}


.slogan-underrated {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.heading-reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



.container-advantages {
  box-sizing: border-box;
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 47px;
  padding-bottom: 65px;
  text-align: center;
  margin: 0;
}

.list-item-2 .container-advantages {
  margin-right: 0;
  margin-left: auto;
}

.container-advantages h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  /* text-align: center; */
}

.container-advantages p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  /* text-align: center; */
}

.list-item-1 {
  background-image: url("../img/feature-picture-1.jpg");
  background-position: right center;
  background-repeat: no-repeat;
}


.to-do-list,
.list-item-container {
  list-style: none;
}


.to-do-list li,
.container-advantages-grey {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}


.to-do-list .heading-to-do-list {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
  position: relative;
}

.to-do-list .item-to-do-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.list-item-2 {
  background-image: url("../img/feature-picture-2.jpg");
  background-position: left center;
  background-repeat: no-repeat;
}

.list-item-container {
  color: #000000;
  background-color: #eeeeee;
}

.container-advantages-grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.container-advantages-grey p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #eeeeee;
}


.hotel-search {
  background-color: #ffffff;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.hotel-search-button {
  font: inherit;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  width: 568px;
  height: 86px;
}

.button-brown:hover {
  background-color: #604e43;
}


.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map-image {
  display: block;
}

.main-footer {
  opacity: 0.9;
}

.index-page ~ .main-footer {
  position: absolute;
  bottom: 0;
}

.hash-tag-visitsedona {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding-top: 11px;
  color: #000000;
}

.footer-social {
  list-style: none;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 6px;
  padding: 0;
  list-style: none;
}



.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  color: #000000;
  padding-top: 8px;
}

.footer-copyright .button {
  width: 115px;
  height: 43px;
}

.footer-copyright b {
  align-self: baseline;
  padding-top: 7px;
  margin-right: 8px;
}

.button:hover .svg-logo-htmla {
  fill: #81b3d2;
}

.button:active .svg-logo-htmla {
  fill: #bdbbbc;
}

.footer-copyright a{
  color: inherit;
}

/* ===============  стили для form ===========================*/

.modal-search {
  position: absolute;
  bottom: 169px;
  left: 316px;
  box-sizing: border-box;
  padding: 55px;
  width: 568px;
  font: inherit;
  background-color: #ffffff;

}

.modal-search-hide {
  display: none;
}

.hotel-search-item input {
  width: 346px;
  height: 38px;
}


.hotel-search-form {
  display: flex;
  flex-wrap: wrap;
}

.hotel-search-item,
.hotel-search-guest {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 0;

}

.hotel-search-guest {
  width: 22px;
}

.buttons-amount {
  position: relative;
  cursor: pointer;
}

.button-adults-decrease::after,
.button-kids-decrease::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  top:calc(50% - 1.5px);
  left:calc(50% - 6px);

}

.button-adults-increase::after,
.button-kids-increase::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  top:calc(50% - 1.5px);
  left:calc(50% - 6px);
}

.button-adults-increase::before,
.button-kids-increase::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  top:calc(50% - 1.5px);
  left:calc(50% - 6px);
  transform: rotate(90deg);
}

.buttons-amount:hover.button-adults-increase::before,
.buttons-amount:hover.button-kids-increase::before,
.buttons-amount:hover.button-adults-increase::after,
.buttons-amount:hover.button-kids-increase::after,
.buttons-amount:hover.button-adults-decrease::after,
.buttons-amount:hover.button-kids-decrease::after {
  background-color: #000000;
}

.buttons-amount:active.button-adults-increase::before,
.buttons-amount:active.button-kids-increase::before,
.buttons-amount:active.button-adults-increase::after,
.buttons-amount:active.button-kids-increase::after,
.buttons-amount:active.button-adults-decrease::after,
.buttons-amount:active.button-kids-decrease::after {
  background-color: #81b3d2;
}


.buttons-calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  width: 21px;
  height: 22px;
  background-color: transparent;
}

.buttons-calendar:active .calendar {
  fill: #81b3d2;
}

.buttons-calendar:hover .calendar {
  fill: #000000;
}

.buttons-amount-container {
  display: flex;
  width: 114px;
  height: 38px;
  background-color: #f2f2f2;
}

.buttons-amount,
.buttons-amount-container input {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}


.hotel-search-form label {
  padding-top: 8px;
}

.hotel-search-item {
  width: 458px;
}

.hotel-search-guest:last-of-type label {
  margin-left: 53px;
}

.hotel-search-guest {
  width: 229px;
}

.hotel-search-item input,
.hotel-search-guest input {
  box-sizing: border-box;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}



.hotel-search-item input:hover,
.hotel-search-guest input:hover {

  background-color: #ebebeb;
}

.hotel-search-item input:focus,
.hotel-search-guest input:focus {
  background-color: transparent;
  border: solid 2px #e5e5e5;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: 0;
  margin-top: 54px;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* ----------------- hotels.html---------------------------- */
/* ----------------- hotels.html---------------------------- */
/* ----------------- hotels.html---------------------------- */



.filters {
  background-image: url("../img/bg-filters.jpg");
  background-color: #263940;
  background-position: center;
  background-repeat: no-repeat;
}

.filter fieldset {
  border: 0;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}


.filter label,
.filter-range,
.filter-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.sort-select {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted black;
}

.sort-select:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-select:active {
  color: #000000;
  opacity: 1;
  border: none;
}

ul {
  list-style: none;
}

.filter-result-amount,
.hotels-item .hotels-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.filter-result li {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}


.hotels-item-type,
.hotels-item-price{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.button-about {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  padding: 5px 17px 4px 17px;
}


.button-book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
  padding: 5px 17px 4px 17px;
}

.hotels-item-rating {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666666;
  text-align: center;
  padding: 4px 13px 3px 16px;
}

/* =============== сеточные стили ===========================*/
/* =============== сеточные стили ===========================*/
/* =============== сеточные стили index ===========================*/

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-header-logo {
  width: 140px;
  height: 71px;
}

.main-header-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  /* background-color: yellow; */
  width: 1200px;
}

.site-navigation li {
  width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  justify-content: center;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.welcome-section {
  box-sizing: border-box;
  text-align: center;
  height: 508px;
  padding-top: 75px;
}

.sedona-welcome-picture {
  padding-bottom: 15px;
}


.slogans {
  box-sizing: border-box;
  height: 215px;
  padding-top: 62px;
  padding-bottom: 56px;
}

.slogan-underrated {
  margin-top: 0;
  margin-bottom: 22px;
}

.heading-reasons {
  margin: 0;
}

.hotel-search {
  box-sizing: border-box;
  height: 290px;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.hotel-search h2 {
  margin-top: 0;
  margin-bottom: 32px;
}

.search-info {
  margin-top: 0;
  margin-bottom: 50px;
}

.hotel-search-button {
  padding: 0;
}

.main-footer {
  box-sizing: border-box;
  height: 120px;
  padding: 36px 0;
}

.main-footer .footer-container {
  display: flex;
}

.hash-tag-visitsedona {
  margin: 0;
  width: 400px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 400px;
}

.footer-copyright {
  margin: 0;
  width: 400px;
}

.to-do-list {
  margin: 0;
  padding: 0;
}

.to-do-list {
  display: flex;
  justify-content: center;
}

.to-do-list li {
  width: 400px;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 86px;
}

.to-do-list-1 h3::before {
  content: url('../img/icon-house.svg');
  position: absolute;
  top: -99px;
  left: 152px;
}

.to-do-list-2 h3::before {
  content: url('../img/icon-food.svg');
  position: absolute;
  top: -99px;
  left: 153px;
}

.to-do-list-3 h3::before {
  content: url('../img/icon-present.svg');
  position: absolute;
  top: -102px;
  left: 157px;
}

.list-item-container {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.list-item-container li {
  width: 400px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 63px;
}



/* =============== сеточные стили ===========================*/
/* =============== сеточные стили ===========================*/
/* =============== сеточные стили footer ===========================*/

.footer-social a {
  display: flex;
  flex-direction: column;
}





/* =============== сеточные стили ===========================*/
/* =============== сеточные стили ===========================*/
/* =============== сеточные стили hotels ===========================*/


.hotels {
  height: 453px;
}

.hotels-item {
  display: flex;
  box-sizing: border-box;
  height: 151px;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

hotels-item:last-of-type::after{
  content: "";
  display: block;
  clear: both;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

.hotels-item-image {
  margin-right: 30px;
}

.hotels-item-class {
  margin-left: auto;
}

.hotels-info-container {
  box-sizing: border-box;
}

.hotels-info-container h3,
.hotels-info-container p {
  margin: 0;

}

.hotels-info-container h3 {
  margin-top: -3px;
  margin-bottom: 2px;
}

.hotels-info-container p {
  margin-bottom: 14px;
}

.hotels-buttons-container {
  box-sizing: border-box;
  margin: 15px auto;
  display: flex;
}


.button-book,
.button-about {
  box-sizing: border-box;
  margin-right: 6px;
}


.hotels-item-type,
.hotels-item-price {
  display: inline-block;
  width: 110px;
  text-align: left;
  margin-right: 3px;
}

.rating-stars {
  padding: 0;
  text-align: right;
  margin-bottom: 35px;
}

.rating-stars li {
  display: inline-block;
}

/* =============== сеточные стили ===========================*/
/* =============== сеточные стили ===========================*/
/* =============== сеточные стили hotels фильтры===========================*/




.filter {
  display: flex;
  box-sizing: border-box;
  padding: 29px 74px 28px 72px;
}

.filter-infrastructure,
.filter-hotel-type,
.filter-infrastructure ul,
.filter-hotel-type ul {
  margin: 0;
  padding: 0;
}

.filter-infrastructure legend,
.filter-hotel-type legend {
  margin-bottom: 22px;
  margin-right: 115px;
}

.filter-infrastructure li,
.filter-hotel-type li {
  margin-bottom: 20px;
  margin-left: 40px;
}

.filter-infrastructure li:last-of-type,
.filter-hotel-type li:last-of-type {
  margin-bottom: 0;
}


.filter-result {
  display: flex;
  height: 87px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-right: 73px;
  vertical-align: baseline;

}

.filter-result-sort-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.filter-result-amount {
  margin-right: 53px;
  margin-top: 31px;
}

.filter-result li {
  margin-right: 35px;
  margin-top: 39px;

}

.filter-result-sort-container:first-of-type {
  margin-right: 40px;
}

.filter-result a {
  border-bottom:
}

.filter-arrows:hover .arrow {
  fill: #000000;
}

.filter-arrows:active .arrow {
  fill: #81b3d2;
}

.filter-arrows-container {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.filter-arrows-container li {
  margin-top: 39px;
  margin-bottom: 37px;
  margin-right: 12px;
}

.filter-arrows-container li:last-of-type {
  margin-right: 0;
}


.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox + label::before {
  content: url('../img/checkbox-off.svg');
  position: absolute;
  left: -40px;
  top: -3px;
  width: 23px;
  height: 23px;
}

.filter-input-checkbox:checked + label::after {
  content: url('../img/checkbox-on.svg');

  position: absolute;
  top: -3px;
  left: -40px;

  width: 27px;
  height: 23px;
}

/* ===============  стили для фильтра стоимости ===========================*/

.filter-range {
  margin-left: auto;
}

.filter-range {
  width: 314px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  padding-top: 6px;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* ===============  стили для фильтра стоимости ===========================*/
/* ===============  end ===========================*/


/* ===============  Animation ===========================*/

/* ===============появление формы======================= */
@keyframes floatup {
  /* 0% {transform: translateX(1800px);}
  75% {transform: translateX(-20px);}
  90% {transform: translateX(15px);}
  100% {transform: translateX(0);} */
  0% {opacity: 0;}
  10% {opacity: 0.1;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  40% {opacity: 0.4;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1;}
}

.modal-search {
  animation-name: floatup;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.5s;
}
